#Bar{
  display: flex;
  font-family: Roboto;
  margin: 0px 0px 20px 0px;
}

#Card{
  color:white;
  background-color: rgb(208, 223, 253);
  padding: 20px;
  border: 0;
}
#Card:focus {
  box-shadow: 0 10px whitesmoke;
}
#Card:hover {
  background-color: rgb(138, 167, 168);
}
#Prod{
  color:white;
  background-color: rgb(208, 223, 253);
  padding: 20px;
  border: 0;
}
#Prod:focus {
  box-shadow: 0 8px whitesmoke;
}
#Prod:hover {
  background-color: rgb(138, 167, 168);
}
.Sel{
  margin: 5px;
  font-size: 14px;
  padding: 20px;
  background-color: rgb(138, 167, 168);
  color: whitesmoke;
  outline: none;
  border: 5px solid whitesmoke;
}
.ElemP{
  background-color: rgb(208, 223, 253);
  width: 40%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-bottom:solid rgb(216, 228, 255) 3px;
}
.ElemP:hover{
  border-bottom:solid whitesmoke 3px;
}
.ElemC{
  background-color: rgb(216, 228, 255);
  width: 40%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-bottom:solid rgb(216, 228, 255) 3px;
}
.ElemC:hover{
  border-bottom:solid whitesmoke 3px;
}
.add{
  border: 0;
  width: 20%;
  background-color: rgb(138, 167, 168);
  color: white;
  text-align: left;
  
}
.add:focus{
  background-color: rgb(179, 216, 255);
}
.add:hover{
  background-color: rgb(179, 216, 255);
  box-shadow: 50px 0px rgb(167, 209, 253);
}

.remove{
  border: 0;
  width: 20%;
  background-color: rgb(138, 167, 168);
  color: white;
  text-align: left;
}
.remove:hover{
  background-color: rgb(179, 216, 255);
  box-shadow: 50px 0px rgb(167, 209, 253);
}
.item{
  margin: 5px;
}